* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

li {
  margin-left: 2rem;
}

.menu {
  display: flex;
  list-style-type: none;
  font-size: 2rem;
}


.beers_menu {
  margin-left: 1rem;
  text-decoration: none;
}

.beers {
  padding: 1rem;
  width: 12rem;
  text-align: center;
  margin: 1rem;
  border: solid black 1px;
  border-radius: 15px;
}

.beers > img {
  width: 3rem;
}



.landing {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.beers_grid {
  place-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.beers > h1 {
  font-size: 1rem;
}

.beers > h2 {
  font-size: 0.9rem;
}

.beers > h3 {
  font-size: 0.8rem;
}

.menu > li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* body {
  color: gray;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */